* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: blueviolet; */
}

.inp {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  width: 60%;
  padding: 2rem;
}

input[type=file] {
  display: none;
}

.fu-label {
  border: 0.5px solid white;
  background-color: sandybrown;
  padding: 15px;
  border-radius: 10px;
}


